.container {
    background-color: #fff;
  width: 800px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.tabla {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.tabla th, .tabla td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla th{
    background-color: #f2f2f2;
}

.tabla tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

.tabla tbody tr:hover{
    background-color: #eaf5ff;
}